/* Fondo degradado para la página */
body {
  background: linear-gradient(135deg, #fceabb 0%, #f8b500 100%);
  background-attachment: fixed;
  background-size: cover;
}

/* Fondo blanco y limpio para el contenido */
.bd-main .bd-content .bd-article {
  background-color: white;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para imágenes full-width */
img.full-width {
  width: 100%;
  border-radius: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
}
